.home_banner{
	overflow: hidden;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.home_banner_img img{
	height: 100vh;
}

.moving_forward{
	margin-top: 100vh;
	overflow: hidden;
}
.zoomText .elementor-heading-title{
	transform-origin: bottom left;
}
.experience_slider .slick-list {
    margin-left: -46px;
}
.clip_img {
    overflow: hidden;
}


.ep-space{
	white-space:nowrap;
}

/* .heading{
	background: -webkit-linear-gradient(#db9e75, #F5F5DC);
	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
	font-weight : 400;
	font-family : "playfair Display"
} */